@model WebApplication1.Models.ProductListViewModel
@{
    ViewData["Title"] = "detail";
}

<div class="container contp">
    <strong class="ml-5">@ViewBag.say Products listed</strong>
    <div class="row">
        <div class="col-3">

            <ul class="list-group">
                <a href="/product/phone/?name=all" class="list-group-item text-decoration-none">All</a>
                @foreach (var item in ViewBag.category)
                {
                    var css = "list-group-item";
                    if (@item.Name == Model.Current)
                    {
                        css += " active";
                    }

                    <a href="/product/phone/?name=@item.Name" class="@css text-decoration-none">@item.Name</a>

                }
             
            </ul>


        </div>
        <div class="col-9">
            <div class="container">

                <div class="row">
                    @foreach (var item in Model.Products)
                    {
                        <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/img/@item.Photo" data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">@item.Name</p>
                                <div class="d-flex justify-content-between align-items-center">
                                        <a href ="/product/detail/@item.Id">
                                            <button type="button" class="btn btn-warning">View</button></a>
                                    
                                            @if(item.Quantity==0)
                                            {
                                            <span class="badge badge-danger">not Exist</span>
                                            }
                                            else{
                                            <span class="badge badge-primary">in Stock</span>
                                            }
                                        
                                    <strong>@item.Price TL</strong>
                                </div>
                            </div>
                        </div>
                    </div> 
                    }
                   
             

                </div>
            </div>




        </div>
    </div>
</div>


